
.whole-page {
display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.title-container {
  
      border: black solid .5px;

}

.buttons { 
    margin-top: 1em;
}

.title {
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.portfolio-page {
  /* everyone has this width */
      width: 750px;
      /* too close to top */
          margin-top: 2em; 

}
.portfolio-grid {
    width: 750px;
    margin: 0 auto 2em auto;
}

.hs-page {
      width: 750px;

}
