.home-page {
    height: 100%;
    width:100%;
    background-color: #eee;
}

.home-page-container {
    width: 90vw;
    margin: auto;
    background-color: #fff;
    overflow: scroll;
    height: 1000px;
}

.home-ul {
    display: flex;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;
    width: 100%;
    margin: 2em auto;
}

.home-assets {
    list-style-type: none;
    border: #ddd solid;
    padding: 1em;
    margin: .1em;
    display: flex;
}

.home-assets--header {
    flex-grow: 1;
}

.crypto-link {
    display: flex;
}

.crypto {
    flex-grow: 1;
}

.crypto-img {
    width: 24px;
    height: 24px;
}


.crypto-index {
    flex: 1;
}

.crypto-name {
    flex: 2;
    text-align: justify;
}

.crypto-price {
    flex: 2;
    text-align: justify;
}

.crypto-onehour {
    flex: 2;
    text-align: justify;
}
.crypto-oneday {
    flex: 2;
    text-align: justify;
}
.crypto-marketcap {
    flex: 2;
    text-align: justify;
}